#allpage {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	opacity: 0.7;
	background-color: #FFFFFF;
	box-shadow: 5px 5px lightblue;
	border-radius:15px;
	border: 1px solid lightblue;
	}

h1 {background-color: lightblue;
    border: 1px solid #A8C682;
    border-radius: 10px;
    box-shadow: 5px 5px blue;
    height: 50px;
    
    }
h2 {background-color: lightblue;
    border: 1px solid #A8C682;
    border-radius: 10px;
    box-shadow: 5px 5px blue;
    height: 40px;
	
	}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-image: url('images/web-design.jpg');	
	}
	
footer {
	border: 1px solid #A8C682;
    border-radius: 10px;
    box-shadow: 5px 5px blue;
    height: 70px;
    background-color: lightblue;
    background-position: content;
	}
	
a {
	text-decoration: none;
	color: black;
	padding: 3px;
	}
	
a:hover {
	color: #5C743D;
	text-decoration: underline overline;
	background-color: lightgrey;
	}
	